<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main  class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="jumbotron">
            <p>This is left side bar</p>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="jumbotron"  id="jumbotron">
           <p>Add user form</p>
        </div>
      </div>
    </div>
    </main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
